#top  {
       font-size: 30;
}

#middle {
         font-size: 22;
}

#bottom {
         font-size: 14;
}
.name   {font-weight: bold;
         
}
* div {
       background-color: teal;
       width: 500px;
       height: 400px;
       margin: auto;
       padding: 50px
   }
*  h1 {
      color:#217537;
      text-align: center;
  }
* table {
         border:3px solid black;
         border-collapse: collapse;
         width: 50%;
  }
  th, td {
         border:2px solid black;
         padding: 5px;
         align-items: center;
  }
* th {
      background-color: lightblue;
}
